:root {
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f5efef;
  color-scheme: light dark;
  color: rgb(241, 32, 50);

  
}


a {
  font-weight: 500;
  color: rgb(238, 68, 68);
  text-decoration: none;
}
a:hover {
  text-decoration:dotted underline;
  
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b4afaf;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff6464;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



article{
  display:flex;
  flex-direction: column;
  border:1px solid  rgb(238, 68, 77);
  border-radius:10px;
  padding:10px;
  margin:10px;
  text-align:left;
  box-shadow: 2px 2px 5px rgba(157, 154, 154, 0.732);
}


ul {
  display: flex;
  list-style: none; 
  padding: 0;
  margin: 0;
  justify-content: center;
  
}

ul li {
  margin-right: 10px; 
  border:1px solid rgb(238, 68, 68);
  border-radius:5px;
  padding:5px;  
  box-shadow: 2px 2px 5px rgba(197, 195, 195, 0.732);
}


.in-cart{
  margin-left:2px;
  padding:3px;
  background-color: red;
  color: white;
  border-radius: 50px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
