nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 80px;
  list-style: none;
  padding: 0;
  margin: 0;

  background-color: transparent;
}

nav ul li {
  position: relative;
}

nav ul li a {
  font-family: "Cinzel", serif;
  font-size: 18px;
  letter-spacing: 0.5px;

  color: #444;
  text-decoration: none;

  padding: 10px 5px;

  transition: color 0.2s ease;
}

nav ul li a:hover {
  color: #000;
  text-decoration: underline;
  background: none;
}

.in-cart {
  background-color: #b30000;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;

  border-radius: 50%;
  padding: 0.2rem 0.4rem;

  position: absolute;
  top: -5px;
  right: -18px;

  min-width: 20px;
  text-align: center;
}
